body {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: url(../src/images/bg-stars.svg);
  background-color: #191a24;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Red Hat Text", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
